@charset "UTF-8";

/*
    Ocean Boat Blue - #1077C3
    Picton Blue - #49BCE3 / #07304e
    Mikado Yellow - #FEC310
    Dark Scarlet - #56042C - (86, 4, 44)
*/

/* ------ Configurações Gerais ------*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #07304e;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    margin: 0px;
}

nav {
    background-color: #07304e;
    box-shadow: 0 0 10px black;
}

h1{
    font-size: 2.2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    padding: 10px 0px;
    font-size: 1.3em;
    font-weight: bold;
    color: #07304e;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

p{
    margin: 0;
    padding: 0px 0px 20px 0px;
    font-size: 1rem;
    text-align: justify;
}

ul{
    padding: 0;
    list-style: none;
}


section {
    padding: 40px 0;
}

/* ------ Configurações Específicas ------*/

#navMain li > a:hover {
    font-weight: bold;
    background-color: #0c4873;
}

section#banner {
    height: 80vh;
    background: linear-gradient(90deg, rgba(86, 4, 44, 0.811) 30%, rgba(86, 4, 44, 0.132)),
                url(../images/DpV4ZHUa83mV4QosFL4xAC.jpg),
                url(../images/ruido.png);
    background-size: cover;
    background-position-x: 25%;
    
}

section#banner div#bannerTitle {
    padding-bottom: 20px;
}

p.espaco {
    margin-bottom: 20px;
}

/* ------ Botões e Links ------*/

.botao {
    padding: 10px;
    font-weight: bold;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 15px;
    box-sizing: border-box;
}

#btnRed {
    color: #56042C;
    border: 2px solid #56042C; 
}

#btnRed:hover {
    background-color: #56042C;
    color: white;
}

.btnBranco {
    color: white;
    border: 2px solid white; 
}

.btnAmarelo {
    color: rgb(209, 161, 17);
    border: 2px solid rgb(209, 161, 17);
}

.btnAmarelo:hover {
    background-color: rgb(209, 161, 17);
    color: white;
}

#btnHoras:hover {
    background-color: white;
    color: #07304e;
}

#btnTickets:hover {
    background-color: white;
    color: rgb(209, 161, 17);
}

/* ------ Cronometro ------*/
section.cronometro {
    background-color: #56042C;
    border-top: 1px solid rgba(191, 191, 191, 0.783);
    padding: 10px 0;
}

.cronometro h3 {
    font-size: 1rem;
    padding: 5px 0px;
    margin: 0;
    color: rgb(209, 161, 17);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#area-c {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 140px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#area-c div {
    height: 120px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(209, 161, 17);
    background-color: rgba(5, 5, 5, 0.777);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

#area-c span {
    font-weight: bolder;
    font-size: 45px;
}

#area-c span.time {
    font-size: 10px;
}

/* ------ Catar ------*/
section#catar {
    background-color: white;  
    padding-bottom: 20px;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.452);
}

#catar-img{
    width: 100%;
    padding-top: 12px;
}

hr.hr-qatar {
    background-color: rgba(191, 191, 191, 0.783);
    margin: 0;
}

.ordem1 {
    order: 1;
}

.ordem2 {
    order: 2;
}

/* ------ Mascote ------*/
section#mascote {
    padding-top: 20px;
    background-color: white;   

}

.letraPreta {
    color: black;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

/* ------ Grupos ------*/

section#grupos {
    background-color: #07304e;
    box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.452);
}

.grupoTime {
    padding: 10px;
    background-color: rgba(241, 241, 241, 0.944);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.719);
}

section#grupos ul {
    color: black;
    padding: 0px 10px;
}

section#grupos ul > li {
    padding: 20px 0px;
}

section#grupos ul > li > img {
    width: 15%;
}

section#grupos ul > li > span {
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 20px;
}

.divisorL {
    border-bottom: 1px solid gray;
}

.col-sm-12{
    padding: 6px;
}

/* ------ Estadios ------*/


/* ------ Tickets ------*/
section#tickets{
    height: 60vh;
    background: linear-gradient(90deg, rgba(209, 161, 17, 0.702) 30%, rgba(209, 161, 17, 0.17)),
                url(../images/lusail-stadium-doha-qatar_092116_100518-e1569177231541.jpg) no-repeat center left;
    background-size: cover;
    background-position-x: 25%;
}

/* ------ Jogos ------*/
.carousel-indicators {
    position: relative;
    right: 1;
    bottom: 1;
    left: 1;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel-indicators [data-bs-target] {
    box-sizing: border-box;
    flex: 0 1 auto;
    max-width: 37px;
    min-width: 15px;
    height: 100%;
    padding: 0;
    margin: 0;
    text-indent: 0px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    opacity: 1;
    transition: none;
}

.carousel-indicators li > button {
    border: none;
    background-color: transparent;
    justify-content: center;
    padding: 6px 10px;
    text-align: center;
    color: #07304e;
    text-align: center;
}

.carousel-indicators .active button {
    background-color: #0D6efd;
    color: white;
}

section#jogos {
    margin-top: 44px;
    color: black;
}

section#jogos ul > li > hr {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.backgBtn{
    width: 50px;
    height: 50px;
    background-color: #07304e;
    border-radius: 50%;
}

.info {
    text-transform: uppercase;
    font-size: 0.85rem;
}

.timesJogos{
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 14px 0px;
}

.timesJogos img {
    width: 56px;
    border-radius: 10px;
    margin: 0px 10px;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0 0 5px rgb(128, 128, 128);
}

.data {
    font-size: 0.85rem;
    padding: 5px 15px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
}

section#finals h3 {
    margin: 0;
    padding-bottom: 0;
}

/* ------ Jogadores ------*/
div#areaArtigo {
    background-color: white;
    padding-top: 92px;
    padding-bottom: 50px;
    color: black;
}

div.artigo {
    min-width: 300px;
    max-width: 900px;
}

div.artigo article {
    margin: 0px 5px;
    text-align: justify;
}

div.artigo article > img {
    width: 100%;
    padding-bottom: 20px;
}

div.artigo article > ul {
    list-style: circle;
    padding-left: 25px;
    font-size: 1rem;
}