@charset "UTF-8";

/*
    Ocean Boat Blue - #1077C3
    Picton Blue - #49BCE3 / #07304e
    Mikado Yellow - #FEC310
    Dark Scarlet - #56042C - (86, 4, 44)
*/

/* ------ Configurações Gerais ------*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #212529;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    margin: 0px;
}

nav {
    background-color: #07304e;
    box-shadow: 0 0 10px black;
}

h1{
    font-size: 2.2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    padding: 10px 0px;
    font-size: 1.3em;
    font-weight: bold;
    color: #07304e;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
}

p{
    margin: 0;
    padding: 0px 0px 20px 0px;
    font-size: 1rem;
    text-align: justify;
}

ul{
    padding: 0;
    list-style: none;
}


section {
    padding: 40px 0;
}

/* ------ Configurações Específicas ------*/

#navMain a:hover {
    font-weight: bold;
    background-color: #0c4873;
}

section#banner {
    height: 85vh;
    background: linear-gradient(90deg, rgba(86, 4, 44, 0.896) 35%, rgba(86, 4, 44, 0.213)),
                url(../images/DpV4ZHUa83mV4QosFL4xAC.jpg),
                url(../images/ruido.png);
    background-size: cover;
    background-position-x: 25%;
    
}

section#banner div#bannerTitle {
    padding-bottom: 20px;
}

p.espaco {
    margin-bottom: 20px;
}

/* ------ Botões e Links ------*/

.botao {
    padding: 10px;
    font-weight: bold;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 15px;
    box-sizing: border-box;
}

#btnRed {
    color: #56042C;
    border: 2px solid #56042C; 
}

#btnRed:hover {
    background-color: #56042C;
    color: white;
}

.btnBranco {
    color: white;
    border: 2px solid white; 
}

#btnHoras:hover {
    background-color: white;
    color: #07304e;
}

#btnTickets:hover {
    background-color: white;
    color: rgb(209, 161, 17);
}

/* ------ Mascote ------*/

.letraPreta {
    color: black;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

/* ------ Grupos ------*/

#grupos {
    background-color: #07304e;
}

.grupoTime {
    padding: 10px;
    background-color: rgba(241, 241, 241, 0.944);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.719);
}

section#grupos ul {
    color: black;
    padding: 0px 10px;
}

section#grupos ul > li {
    padding: 20px 0px;
}

section#grupos ul > li > img {
    width: 15%;
}

section#grupos ul > li > span {
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 20px;
}

.divisorL {
    border-bottom: 1px solid gray;
}

.col-sm-12{
    padding: 6px;
}

/* ------ Tickets ------*/
section#tickets{
    height: 60vh;
    background: linear-gradient(90deg, rgba(209, 161, 17, 0.702) 30%, rgba(209, 161, 17, 0.17)),
                url(../images/lusail-stadium-doha-qatar_092116_100518-e1569177231541.jpg) no-repeat center left;
    background-size: cover;
    background-position-x: 25%;
}

/* ------ Jogos ------*/

div#navCarousel {
    background-color: transparent;
    box-shadow: none;
}

div#navCarousel > ul > li {
    max-width: 37px;
    min-width: 15px;
}

div#navCarousel > ul > li > button {
    padding: 6px 10px;
}

.page-link {
    color: #07304e;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
    height: 1.5rem;
}

section#jogos {
    margin-top: 44px;
    background-color: white;
    color: black;
}

section#jogos ul > li > hr {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.backgBtn{
    width: 50px;
    height: 50px;
    background-color: #07304e;
    border-radius: 50%;
}

.info {
    text-transform: uppercase;
    font-size: 0.85rem;
}

.timesJogos{
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 14px 0px;
}

.timesJogos img {
    /*height: 58px;
    width: 58px;
    border-radius: 50%;
    margin: 0px 10px;
    border: 1px solid rgb(234, 234, 234);
    box-shadow: 0 0 5px rgb(128, 128, 128);*/
}

.data {
    font-size: 0.85rem;
    padding: 5px 15px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
}

/* ------ Jogadores ------*/
div#selecaoBr {
    background-color: white;
    padding-top: 92px;
    padding-bottom: 50px;
    color: black;
}

div#jogadores {
    min-width: 300px;
    max-width: 900px;
}

div#jogadores article {
    margin: 0px 5px;
    text-align: justify;
}

div#jogadores article > img {
    width: 100%;
    padding-bottom: 20px;
}

div#jogadores article > ul {
    list-style: circle;
    padding-left: 25px;
    font-size: 1rem;
}


/* ------ Media Queries ------*/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 2rem;
    }
    
    p{
        font-size: 1.2rem;
    }

    .botao {
        padding: 13px;
        font-size: 1rem;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .col-md-6{
        padding: 6px;
    }

    section#tickets{
        background: linear-gradient(90deg, rgba(209, 161, 17, 0.615) 20%, rgba(209, 161, 17, 0.17)),
                    url(../images/lusail-stadium-doha-qatar_092116_100518-e1569177231541.jpg) no-repeat center center;
                    background-size: cover;
    }

    div#jogadores article > ul {
        font-size: 1.2rem;
    }

    .timesJogos{
        font-size: 2rem;
    }
    
    .timesJogos img {
        height: 72px;
        width: 72px;
        margin: 0px 15px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 2rem;
        height: 2rem;
    }

    .backgBtn{
        width: 64px;
        height: 64px;
        background-color: #07304e;
        border-radius: 50%;
    }

    div#navCarousel > ul > li > button {
        padding: 6px 12px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }

    section#banner {
        background: linear-gradient(90deg, rgba(86, 4, 44, 0.944) 25%, rgba(86, 4, 44, 0.213)),
        url(../images/DpV4ZHUa83mV4QosFL4xAC.jpg) no-repeat center left;
        
    }

    .img-fluid {
        max-width: 60%;
        height: auto;
    }
}